{% load static %}
<html>
{% block head %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gig Advisor{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
  </head>
{% endblock %}
</head>
{% block body %}
<body>
        {% block nav %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            {% block nav_content %}
                {% block navbar_brand %}
                    <a class="navbar-brand" href="http://127.0.0.1:8000/GigAdvisor/platforms/">Gig Advisor</a>
                {% endblock %}

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-light">Logout</button></a>
                {% else %}
                <a href="{% url 'login' %}"><button type="button" class="btn btn-light">Login</button></a>
                {% endif %}
            {% endblock %}
        </nav>
        {% endblock %}





        {% block content %}
        {% endblock content %}



        {% block foot %}
            <footer class="footer">
              <div class="container">
                {% block footer %}
               <span class="text-muted">Gig Advisor &reg; - All rights reserved</span>{% endblock %}
                </div>
            </footer>
        {% endblock %}
</body>
{% endblock %}
</html>
