{% load static %}
<html>
{% block head %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gig Advisor{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Fabio Grauso">
    {% block styles %}
    {% endblock %}

    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/scrolling-nav.js' %}"></script>
    {% endblock %}
  </head>
{% endblock %}
</head>
{% block body %}
<body>
<style>
.navbar-nav > .active > a {
  color: #00aac9;
}

.navbar li a {
    color: white;
}

.navbar li a:hover{
    color: #00aac9;
}

.navbar{
  background-color:#181818;
}


        
.btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #00aac9;
    border-color: #ffffff;
    color: white;
}
</style>
        {% block nav %}
        <nav class="navbar fixed-top navbar-expand-lg navbar">
          {% if request.path == '/GigAdvisor/home/' %}
          {% else %}
          <a class="navbar-brand" href="{% url 'home' %}">
              <img src="/media/GigAdvisor2-versione1.png" width="150"  class="d-inline-block align-top" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% endif %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {{ home_page }}">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
              </li>
                <li class="nav-item {{ platform_page }}">
                <a class="nav-link" href="{% url 'platforms' %}">Platforms <span class="sr-only"></span></a>
              </li>
              <li class="nav-item {{ charts_page }}">
                <a class="nav-link" href="{% url 'charts' %}">Charts</a>
              </li>
              <li class="nav-item {{ profile_page }}">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="{% url 'spirit:index' %}">Forum</a>
                </li>
            </ul>
          </div>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-light">Logout</button></a>
                    {% else %}
                    <a href="{% url 'login' %}"><button type="button" class="btn btn-light">Login</button></a>
                    {% endif %}
                  </li>
            </ul>
          </div>
        </nav>

        
        
        {% endblock %}

        {% block content %}
        {% endblock content %}

</body>
{% endblock %}
</html>