{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <meta http-equiv="REFRESH" content="0;url=http://127.0.0.1:8000/GigAdvisor/platforms/">
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>Non sei loggato</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}