{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block title %}Gig Advisor{% endblock %}
{% block content %}

    <div class="jumbotron text-xs-center">
      <h1 class="display-3">Page not found</h1>
      <p class="lead">CODICE DI ERRORE: 404
        I have looked all around but just can't find the page you are looking for. </p>
      <hr>

      <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'platforms' %}" role="button">Go to platforms</a>
      </p>
    </div>
{% endblock %}