{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if platforms_list %}
 <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Piattaforme</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>
        <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for piattaforma in platforms_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/media/{{piattaforma.photo}}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'recensione_platform' piattaforma.id %}"><h5 class="card-title">{{piattaforma.nome}}</h5></a>
                  <p class="card-text">{{piattaforma.categoria}}</p>
                  <a href="{% url 'recensioni_new' piattaforma.id %}" class="btn btn-primary">Scrivi recensione</a>
              </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  {% else %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Non ci sono piattaforme</h1>
          <p class="lead text-muted">Inizia ad inserire le piattaforme all'interno dell'area di amministrazione</p>
        </div>
      </section>
  {% endif %}
 </main>
{% else %}
  <p>Non sei loggato</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

