{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
<!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    
{% endblock %}


{% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.maps.js"></script>
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/maps/fusioncharts.italy.js"></script>

  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
<!--
<script  src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script  src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script  src="{% static 'fusioncharts/themes/fusioncharts.zune.js' %}"></script>
<script  src="{% static 'fusioncharts/fusioncharts.jqueryplugin.js' %}"></script>

<script  src="{% static 'js/bootstrap.min.js' %}"></script>
<script  src="{% static 'js/moment-with-locales.js' %}"></script>
<script  src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
-->

{% endblock %}

{% block title %}Gig Advisor{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<section class="jumbotron text-center" style="background-color: #fff" >
        <div class="container">
            
          <h1 class="jumbotron-heading">Profile</h1>
          <p class="lead text-muted">In this section...</p>
        </div>
      </section>
    {% if user.profile.nome|length > 1 %}
    <p></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
        <div class="card" style="padding: 2%">
                <div class="card-block">
                    <div class="row">
                    <div class="col-md-4 col-sm-4 text-center">
                            <img src="/media/{{user.profile.avatar}}" width="80%" class="img-fluid rounded-circle mb-3">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h2 class="card-title">Name: {{user.profile.nome}} {{user.profile.cognome}}</h2>
                        <p class="card-text"><strong>Residency: </strong> {{user.profile.residenza}} </p>
                        <p class="card-text"><strong>Birth date: </strong> {{user.profile.birth_date}}</p>
                        <p class="card-text"><strong>Qualification: </strong> {{user.profile.titolo_di_studio}} </p>
                        <!--
                        <p><strong>Platform: </strong>
                            <span class="badge bg-primary">WordPress</span> 
                            <span class="badge bg-info">Weebly</span>
                            <span class="badge bg-warning">Bootstrap</span>
                            <span class="badge bg-success">Wix</span>
                        </p>
                        -->
                    </div> 
                    <div class="col-md-4 col-sm-4 text-center">
                            <a href="{% url 'update_profile'%}" class="btn btn-secondary btn-lg">Update profilo</a>
                        </div>   
                        
                    <!--
                    <div class="col-md-4 col-sm-4 text-center">
                        <h2><strong> 5.2K </strong></h2>                    
                        <p><small>Fans</small></p>
                        <button class="btn btn-primary btn-block btn-md"><span class="fa fa-facebook-square"></span> Like  </button>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <h2><strong>1.4K</strong></h2>                    
                        <p><small>Following</small></p>
                        <button class="btn btn-success btn-block btn-md"><span class="fa fa-twitter-square"></span> Tweet </button>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <h2><strong>3.8K</strong></h2>                    
                        <p><small>Followers</small></p>
                        <button type="button" class="btn btn-danger btn-block btn-md"><span class="fa fa-google-plus-square"></span> Follow </button>  
                    </div>
                    </div>
                    -->
                    </div>
                    
                </div>
        </div>
        </div> 
    </div>
    
    
    
    {% else %}
    <p></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="padding: 2%">
                <div class="card-block">
                    <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h3>What are you waiting for?</h3>                    
                        <p><small>Create your crowdworker's profile</small></p>
                        <a href="{% url 'new_profile' %}" class="btn btn-primary">Create</a>
                    </div>
                    </div>
                </div>
        </div>
        </div> 
    </div>
    {% endif %}

{% else %}
<section class="jumbotron text-center" style="background-color: #fff" >
        <div class="container"> 
          <h1 class="jumbotron-heading">You aren't logged in</h1>
          <p class="lead text-muted">To create a new profile registered on Gig Advisor</p>
        </div>
      </section>

{% endif %}
{% endblock %}